body{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  .breed-select{
    width:320px;
  }
  .header{
    background:teal;
    text-align:center;
    color:#f44336;
    margin:0;
    margin-bottom:32px;
    width:100%;
  }
  .dog-image{
    margin:16px;
    object-fit:contain;
    width:25%;
    cursor:pointer;
  }